body {
    background: url("../images/texture.png") repeat scroll 0 0 transparent;
}
h1, h2, h3, h4, h5 {
  color: #555555;
}
.header.outer {
    background-color: #555555;
    background-image: none;
    border-bottom: 7px solid #33B6E6;
    box-shadow: 0 1px 5px #666666;
    margin-bottom: 18px;
}
header .menu a, header #site-name {
  text-shadow:none;
}
header .menu a {
  float: right;
  color: #ffffff;
}
header .menu input {
    height: 10px;
    margin-top: 2px;
    width: 100%;
}
input.search {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.6em 0.5em 0.6em 5px;
    width: 380px;
}
header #logo {
    float: right;
}
header #site-name {
  background: url("../images/scckan-logo.png") no-repeat scroll 0 0 transparent;
  color: #333333;
  font-family: Ubuntu,sans-serif;
  font-size: 1.4em;
  height: 110px;
  line-height: 1.3;
  padding: 5px 5px 2px 82px;
  position: absolute;
  top: 0;
  width: 175px;
  box-shadow: 0 1px 5px #666666;
}
header #site-name a {
  display: none;
}
header .menu #menusearch {
    float: right;
    position: relative;
    top: 85px;
    left: 200px;
}
body.index.home .front-page .action-box {
  background: none repeat scroll 0 0 #8BD080;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 5px #666666;
}
body.index.home .front-page .action-box h1 {
    color: #FFFFFF;
}
.main-feature {
    border: 1px solid #33B6E6;
    border-radius: 5px 5px 5px 5px;
    height: 275px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 10px;
    background: #ffffff;
}